/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --primary-font-color: #272142;
  --primary-font-opacity: rgba(39, 33, 66, 0.7);
}

.headline {
  background-color: var(--secondary-color);
  text-align: center;
  height: 650px;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
.headline-content {
  padding: 120px;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
}
h2 {
  color: #272142;
  font-size: 36px;
  font-weight: bold;
  line-height: 54px;
}
h3 {
  color: #272142;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.btn-first {
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  padding: 18px 46px;
  font-size: 18px;
  line-height: 27px;
}
.btn-first:hover {
  background-color: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.small-title {
  color: var(--primary-font-color);
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
}
.app-content h1 {
  font-size: 64px;
  line-height: 85px;
  padding: 30px 0;
}

p {
  color: var(--primary-font-opacity);
  font-size: 18px;
  font-weight: 400px;
  line-height: 27px;
  font-weight: 400;
}
.btn-second {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 18px 46px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
.btn-second:hover {
  background-color: var(--primary-color);
  color: white;
}
.content-text {
  padding: 60px 20px 0 0;
}

@media (max-width: 960px) {
  .headline {
    height: 500px;
  }
  .headline-content {
    padding: 40px;
  }
  h1 {
    font-size: 68px;
  }
  .app-content h1 {
    padding: 0 0;
    font-size: 36px;
  }
  .content-text {
    text-align: center;
    padding: 0 0;
  }
}

/* @media (min-width: 600px) and (max-width: 1500px) {
  .headline {
    height: 500px;
  }
  .headline-content {
    padding: 40px;
  }
  .content-text {
    padding: 30px 0;
  }
  .app-content h1 {
    padding: 0 0;
    font-size: 36px;
  }
} */
